
.scrolltable {
  border: 1px solid #333333;
  height: 300px;
  overflow-x: auto;
  overflow-y: auto;
}
.scrolltable table {
  border-collapse: separate;
  border-spacing: 0;
  empty-cells: show;
  width: 1480px;
}
.scrolltable table th, .scrolltable table td {
  padding: 0.1rem 0rem 0.1rem 0.5rem;
}
.scrolltable table th, .scrolltable table td {
  border-right: 1px solid #777777;
  border-bottom: 1px solid #777777;
}
.scrolltable table th:first-of-type, .scrolltable table td:first-of-type {
  border-left: 1px solid #777777;
}
.scrolltable table thead tr:first-of-type th {
  border-top: 1px solid #777777;
}
.scrolltable table thead tr:last-of-type th {
  border-left: none;
}
.scrolltable table thead tr:first-of-type th:first-of-type {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background: #f4f4f4;
}
.scrolltable table thead tr:first-of-type th:nth-of-type(2) {
  position: sticky;
  top: 0;
  left: 100px;
  z-index: 10;
  background: #f4f4f4;
}
.scrolltable table thead tr:first-of-type th:not(:first-of-type, :nth-of-type(2)) {
  position: sticky;
  top: 0;
  background: #f4f4f4;
}

.scrolltable table td:first-of-type {
  position: sticky;
  left: 0;
  width: 100px;
  background: #f4f4f4;
}
.scrolltable table td:nth-of-type(2) {
  position: sticky;
  left: 100px;
  width: 100px;
  background: #f4f4f4;
}

